.types {
    &--normal {
        background-color: #8d8d8d;   
    }
    &--fire {
        background-color: #ff4a4a;
    }
    &--poison {
        background-color: #b14aff;
    }
    &--flying {
        background-color: #89b1f9;
    }
    &--ground {
        background-color: #f9eb89;
    }
    &--rock {
        background-color: #817555;
    }
    &--bug {
        background-color: #9acf1c;
    }
    &--ghost {
        background-color: #1d0a6a;
    }
    &--steel {
        background-color: #3e3b4c;
    }
    &--water {
        background-color: #0c57ff;
    }
    &--grass {
        background-color: #43a56a;
    }
    &--electric {
        background-color: #d1c20b;
    }
    &--psychic {
        background-color: #cd20bf;
    }
    &--ice {
        background-color: #6bd2dd;
    }
    &--dragon {
        background-color: #3f24d5;
    }
    &--dark {
        background-color: #07031c;
    }
    &--fairy {
        background-color: #df9af5;
    }
}